a.username {
    color: #00aced
}

a.tag {
    color: #0084b4
}

body {
   background-color: black;
   background-image: url("/image/SCROLLERS.jpg");
   background-repeat: no-repeat;
    background-attachment: scroll;
}

.col-md-12 {
    background-color: rgba(255,255,255,0.8);
    margin-top:20px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:5px;
}